# Copy file nay thanh .env roi dien thong tin that cua may ban
# KHONG commit file .env that len git

PGHOST=localhost
PGPORT=5432
PGDATABASE=agritrace
PGUSER=postgres
PGPASSWORD=123456

JWT_SECRET=doi-chuoi-bi-mat-nay-truoc-khi-deploy
JWT_EXPIRE_MINUTES=480

FLASK_DEBUG=true
PORT=5000
